<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Buttonbox</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="/javascripts/buttonbox.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="container-fluid">
    <% for(const row of layout.rows){ %>
      <div class="row">
        <% for(const column of row.columns){ %>
          <div class="col-sm">
            <% if(column.action.type === 'link'){ %>
              <figure onclick="window.location.href='/<%= column.action.value %>/iframe'">
            <% }else if(column.action.type === 'button'){ %>
              <figure onclick="buttonPress(<%= column.action.value %>)">
            <% }else if(column.action.type === 'action'){ %>
              <figure onclick="doAction('<%= column.action.value %>')">
            <% }else{ %>
              <figure>
            <% } %>
              <img src="<%= column.image %>" class="img-fluid figure-img <%= column.colors.default %> <%= column.colors.onclick %>-active">
              <figcaption class="figure-caption text-center fs-2 <%= column.colors.default %>"><%= column.name %></figcaption>
            </figure>
          </div>
        <% } %>
      </div>
    <% } %>
</body>
</html>